<div class="d-flex flex-column text-center">
  <h1 class="mt-5">Welcome back {{user.firstName}}!</h1>
  <form method="POST" action="/">
    <button name="logout" type="submit" class="rounded my-4 p-2 px-4">Logout</button>
  </form>
</div>